
.test {
	color: white;
	width: 200px;
	height: 100px;
	position: absolute;
	background-color: green;
	text-align: center;
	/*margin-top: 5px;*/
	/*padding-top: 50px;*/
}

.aobin.input{
	position: relative;
	top: 20px;
	/*left: 20px;*/
	width: 100%;
	cursor: pointer;
	float: left;
	background-image: url(../image/+1.png);
}

.aobin.input:focus{
	border: solid;
	border-width: 2px;
	border-color: red;
}

.aobin.input:hover{
	background: yellow;
}
.aobin.input:active{
	background: blue;
}

#div{
	margin: auto;
}

#div *{
	border: solid red 2px;
}

#div2 {
    position: absolute;
    top: 150px;
}

#div2>input[type="button"]
{
    display: block;
    margin-top: 3px;
}
